* {
  box-sizing: border-box;
  outline: none;
  appearance: none;
}
html {
  background: rgb(184, 184, 184);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
head {
  overflow: hidden;
  height: 0;
}
body {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #3949ab;
}

#gradient-text {
  background: -webkit-linear-gradient(#eee, rgb(29, 129, 151));
  background: rgb(63, 94, 251);
  background: radial-gradient(circle, rgb(47, 61, 255) 0%, rgb(233, 44, 81) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  height: 3px;
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 7px;
  border-radius: 10px;
}

::-webkit-scrollbar-button {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-corner {
  background-color: rgba(50, 50, 50, 0.5);
}

button:focus {
  outline: none;
}
a {
  color: inherit;
  text-decoration: none;
}
input,
textarea {
  outline: none;
  border: none;
  appearance: none;
}
input:focus,
textarea:focus {
  border: solid 1px #1a237e;
}
.balloon-container {
  z-index: 1;
}
main {
  position: relative;
  z-index: 2;
}
.scale-animate {
  animation: scale-frame 0.3s alternate ease-in-out forwards;
}
.swiper-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.MuiTableContainer-root {
  overflow-x: auto;
  overflow-y: initial;
}
@keyframes scale-frame {
  0% {
    opacity: 0.5;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
